In [1]:
import pandas as pd

In [14]:
data = pd.read_csv('data/behaviors.tsv', delimiter='\\')

data.head()

  1\tU13740\t11/11/2019 9:05:58 AM\tN55189 N42782 N34694 N45794 N18445 N63302 N10414 N19347 N31801\tN55689-1 N35729-0
0  2\tU91836\t11/12/2019 6:11:30 PM\tN31739 N6072...
1  3\tU73700\t11/14/2019 7:01:48 AM\tN10732 N2579...
2  4\tU34670\t11/11/2019 5:28:05 AM\tN45729 N2203...
3  5\tU8125\t11/12/2019 4:11:21 PM\tN10078 N56514...
4  6\tU19739\t11/11/2019 6:52:13 PM\tN39074 N1434...