In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
top_250 = pd.read_csv('top250-00-19.csv')
top_250.head()

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000

In [3]:
top_250.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4700 non-null   object
 1   Position      4700 non-null   object
 2   Age           4700 non-null   int64
 3   Team_from     4700 non-null   object
 4   League_from   4700 non-null   object
 5   Team_to       4700 non-null   object
 6   League_to     4700 non-null   object
 7   Season        4700 non-null   object
 8   Market_value  3440 non-null   float64
 9   Transfer_fee  4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

In [9]:
top_250.groupby('League_from')['Transfer_fee'].mean().sort_values(ascending=False)

League_from
Rel. Ligue 1        1.600000e+07
LaLiga              1.323890e+07
Liga NOS            1.253753e+07
Premier League      1.192189e+07
Serie A             1.176741e+07
                        ...
 China              1.702500e+06
1.Lig               1.700000e+06
U19 Eredivisie      1.500000e+06
 United States      1.000000e+06
Challenge League    8.250000e+05
Name: Transfer_fee, Length: 118, dtype: float64

In [10]:
top_250[top_250['League_from']=='Rel. Ligue 1'].head()

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
4014,Didier Ndong,Central Midfield,22,FC Lorient,Rel. Ligue 1,Sunderland,Premier League,2016-2017,5000000.0,20000000
4080,Raphaël Guerreiro,Left-Back,22,FC Lorient,Rel. Ligue 1,Bor. Dortmund,1.Bundesliga,2016-2017,9000000.0,12000000

In [11]:
top_250.League_from.unique()

array(['LaLiga', 'Serie A', 'Premier League', 'Ligue 1', 'LaLiga2',
       ' Brazil', ' Argentina', 'Serie B', '1.Bundesliga', 'Premier Liga',
       'Liga NOS', ' Czech Republic', ' Serbia', 'Eredivisie', ' England',
       ' Scotland', 'Süper Lig', 'Eliteserien', ' Croatia',
       'Super League', ' Mexico', ' Chile', 'Ligue 2', ' Uruguay',
       ' Bulgaria', ' Korea, South', 'Ekstraklasa', ' Sweden', ' Latvia',
       '2.Bundesliga', 'J1 - 2nd Stage', ' Finland', ' Denmark',
       'Jupiler Pro League', ' Saudi Arabia', ' Australia',
       'First Division', ' Portugal', ' Slovakia', ' Romania',
       'Vysheyshaya Liga', ' China', '1.Liga gr. 1', ' Iran',
       'Bundesliga', ' Venezuela', 'Primera Div. Apertura',
       'Second Division (bis 03/04)', ' France',
       'Auf-/Abstiegsrunde NLA/NLB', 'U19 Eredivisie', '1.Lig',
       ' United States', 'Challenge League', 'Premiership', "Ligat ha'Al",
       'K League 1', 'HET Liga', 'MLS', ' Spain', ' Tunisia',
       ' South Africa', 'Virsliga', 'Serie C - A', 'Regionalliga Nord',
       ' Colombia', ' Russia', ' Moldova', 'Championship', 'Série A',
       'Superligaen', 'J1 League', ' Peru', ' Paraguay', 'NB I.',
       ' Ukraine', 'Torneo Final', 'Allsvenskan', 'SuperLiga', ' Qatar',
       '1.HNL', 'OBOS-ligaen', '2ª B - Grupo III', 'Liga MX Clausura',
       'Liga 1', 'League One', 'Superettan', ' Ghana', 'Serie C - B',
       'Série B', ' Ecuador', 'J2 League', ' United Arab Emirates',
       'Primera División', 'Primera B Nacional', 'Primavera B',
       '2ª B - Grupo I', '3.Liga', 'Liga Águila II', 'Segunda División',
       'Professional League', 'Stars League', 'Ligue I Pro',
       'Championnat National', 'Korean FA Cup', 'UAE Gulf League',
       'Torneo Inicial', 'Serie A Segunda Etapa', '1.Division',
       'Rel. Ligue 1', 'Liga 1 - Championship group',
       'U18 Premier League', 'Superligaen Championship round',
       'A Grupa - Championship gr.', 'Liga MX Apertura', ' Canada',
       'Proximus League', 'Botola Pro'], dtype=object)

In [13]:
top_250.groupby('Position')['Transfer_fee'].sum()

Position
Attacking Midfield     4185100000
Central Midfield       4916870000
Centre-Back            6032295000
Centre-Forward        11680950000
Defender                  2000000
Defensive Midfield     3695720000
Forward                   6600000
Goalkeeper             1372080000
Left Midfield           584390000
Left Winger            3445540000
Left-Back              1736760000
Midfielder                1130000
Right Midfield          466460000
Right Winger           3638760000
Right-Back             1494030000
Second Striker         1142720000
Sweeper                   2250000
Name: Transfer_fee, dtype: int64

In [16]:
(top_250.groupby('Position')['Transfer_fee'].sum() / top_250.groupby('Position')['Transfer_fee'].count()).sort_values(ascending=False)

Position
Left Winger           1.290464e+07
Right Winger          1.193036e+07
Central Midfield      1.009624e+07
Attacking Midfield    9.824178e+06
Centre-Forward        9.590271e+06
Defensive Midfield    8.992019e+06
Second Striker        8.790154e+06
Centre-Back           8.448592e+06
Right-Back            8.254309e+06
Left-Back             7.718933e+06
Goalkeeper            7.622667e+06
Right Midfield        7.404127e+06
Left Midfield         6.717126e+06
Sweeper               2.250000e+06
Forward               2.200000e+06
Defender              2.000000e+06
Midfielder            1.130000e+06
Name: Transfer_fee, dtype: float64